{
	order authenticate before respond
	order authorize before basicauth
	security {
		oauth identity provider github {$CADDY_OAUTH_CLIENT_ID} {$CADDY_OAUTH_CLIENT_SECRET}
		authentication portal githubPortal {
			crypto default token lifetime 86400 # 24 hours
			enable identity provider github
			cookie domain .{$HOSTNAME}

			ui {
				theme basic
				links {
					"App" https://{$HOSTNAME}/ icon "las la-rocket"
					"Logs" https://logs.{$HOSTNAME}/ icon "las la-terminal"
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm github
				action add role authp/user
			}
		}
		authorization policy paasPolicy {
			set auth url https://auth.{$HOSTNAME}/oauth2/github
			allow roles authp/user
			inject headers with claims
			inject header "Remote-Name" from "name"
			inject header "Remote-User" from "sub"
		}
	}
}

{$HOSTNAME} {
	reverse_proxy http://web:8000

	log {
		output stdout
		format json
	}
}

auth.{$HOSTNAME} {
	authenticate with githubPortal
	tls {
		protocols tls1.3
	}
}

logs.{$HOSTNAME} {
	@local host logs.localhost
	@not-local not host logs.localhost
	authorize @not-local with paasPolicy
	request_header @local "Remote-Name" "Local User"
	request_header @local "Remote-User" "dev"
	reverse_proxy http://dozzle:8080

	tls {
		protocols tls1.3
	}
}
