name: Backup
on:
  schedule:
    - cron: '0 0 * * *' # Sync daily at midnight
  workflow_dispatch: # Allow manual trigger
concurrency:
  group: backup
  cancel-in-progress: false
jobs:
  pg_dump:
    uses: codingjoe/the-box/.github/workflows/backup.yml@main
    with:
      SSH_HOSTNAME: ${{ vars.SSH_HOSTNAME }}
      SSH_KNOWN_HOSTS: ${{ vars.SSH_KNOWN_HOSTS }}
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
