name: Deploy
on:
  workflow_run:
    workflows: [ci]
    strategy: wait-all
    timeout: 0
    branches: [main]
    types:
      - completed
  workflow_dispatch: # Allow manual trigger
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: false
jobs:
  paas:
    uses: codingjoe/the-box/.github/workflows/deploy.yml@main
    with:
      SSH_HOSTNAME: ${{ vars.SSH_HOSTNAME }}
      SSH_KNOWN_HOSTS: ${{ vars.SSH_KNOWN_HOSTS }}
      HOSTNAME: ${{ vars.HOSTNAME }}
      CADDY_OAUTH_CLIENT_ID: ${{ vars.CADDY_OAUTH_CLIENT_ID }}
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      CADDY_OAUTH_CLIENT_SECRET: ${{ secrets.CADDY_OAUTH_CLIENT_SECRET }}
      DOTENV_PRIVATE_KEY_PRODUCTION: ${{ secrets.DOTENV_PRIVATE_KEY_PRODUCTION }}
