name: Sync SSH Keys
on:
  schedule:
    - cron: '0 * * * *' # Sync hourly
  workflow_dispatch: # Allow manual trigger
    inputs:
      environment:
        description: 'Target environment for syncing SSH keys'
        required: true
        default: 'production'
permissions:
  contents: read
jobs:
  sync-keys:
    uses: codingjoe/the-box/.github/workflows/sync-ssh-keys.yml@main
    with:
      SSH_HOSTNAME: ${{ vars.SSH_HOSTNAME }}
      SSH_KNOWN_HOSTS: ${{ vars.SSH_KNOWN_HOSTS }}
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      GH_TOKEN: ${{ github.token }}
